nextflow.enable.dsl = 2

params {
  samplesheet = null
  outdir = 'results/nextflow_dual_rnaseq'

  // References / indexes
  host_star_index = null
  bacteria_star_index = null
  host_gtf = null
  bacteria_gff = null

  // Existing DESeq2 scripts in this repository
  deseq2_host_script = "${projectDir}/Mapping_scripts/DeSeq2_host/deseq2_host.R"
  deseq2_bacteria_script = "${projectDir}/Mapping_scripts/DeSeq2_bacteria/deseq2_bacteria.R"

  threads = 8
  read_overhang = 149
  padj_cutoff = 0.05
  lfc_cutoff = 1
  min_total_count = 10
}

process {
  executor = 'local'
  cpus = params.threads
  errorStrategy = 'terminate'
  shell = ['/bin/bash', '-euo', 'pipefail']

  withName: FASTP {
    cpus = 4
  }

  withName: ALIGN_HOST|ALIGN_BACTERIA {
    cpus = params.threads
    memory = '40 GB'
    time = '24h'
  }

  withName: FEATURECOUNTS_HOST|FEATURECOUNTS_BACTERIA {
    cpus = params.threads
    memory = '16 GB'
    time = '8h'
  }

  withName: DESEQ2_HOST|DESEQ2_BACTERIA {
    cpus = 4
    memory = '32 GB'
    time = '12h'
  }
}

profiles {
  slurm {
    process.executor = 'slurm'
    process.queue = null
  }

  conda {
    conda.enabled = true
    process.conda = 'bioconda::fastp bioconda::star bioconda::samtools bioconda::subread bioconda::multiqc bioconductor-deseq2 r-data.table r-ggplot2 r-pheatmap r-matrixstats r-rcolorbrewer'
  }
}
